In [85]:
import pip
import numpy as np
import pandas as pd
import sklearn
import tabulate
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.utils import resample
from sklearn.metrics import classification_report,confusion_matrix

In [3]:
song_app = pd.read_csv("../../SongApp.csv",header=-1,)

In [4]:
song_app.head()

,0,1,2,3,4,5,6,7,8,9,...,82,83,84,85,86,87,88,89,90,91
0,NaN,2001,49.94357,21.47114,73.07750,8.74861,-17.40628,-13.09905,-25.01202,-12.23257,...,13.01620,-54.40548,58.99367,15.37344,1.11144,-23.08793,68.40795,-1.82223,-27.46348,2.26327
1,0.0,2001,48.73215,18.42930,70.32679,12.94636,-10.32437,-24.83777,8.76630,-0.92019,...,5.66812,-19.68073,33.04964,42.87836,-9.90378,-32.22788,70.49388,12.04941,58.43453,26.92061
2,1.0,2001,50.95714,31.85602,55.81851,13.41693,-6.57898,-18.54940,-3.27872,-2.35035,...,3.03800,26.05866,-50.92779,10.93792,-0.07568,43.20130,-115.00698,-0.05859,39.67068,-0.66345
3,2.0,2001,48.24750,-1.89837,36.29772,2.58776,0.97170,-26.21683,5.05097,-10.34124,...,34.57337,-171.70734,-16.96705,-46.67617,-12.51516,82.58061,-72.08993,9.90558,199.62971,18.85382
4,3.0,2001,50.97020,42.20998,67.09964,8.46791,-15.85279,-16.81409,-12.48207,-9.37636,...,9.92661,-55.95724,64.92712,-17.72522,-1.49237,-7.50035,51.76631,7.88713,55.66926,28.74903

In [5]:
song_app.size

42661872

In [6]:
song_app.shape

(463716, 92)

In [7]:
# clean data
df_song = song_app.dropna()
df_song.__delitem__(0)

In [8]:
df_song.head()

,1,2,3,4,5,6,7,8,9,10,...,82,83,84,85,86,87,88,89,90,91
1,2001,48.73215,18.42930,70.32679,12.94636,-10.32437,-24.83777,8.76630,-0.92019,18.76548,...,5.66812,-19.68073,33.04964,42.87836,-9.90378,-32.22788,70.49388,12.04941,58.43453,26.92061
2,2001,50.95714,31.85602,55.81851,13.41693,-6.57898,-18.54940,-3.27872,-2.35035,16.07017,...,3.03800,26.05866,-50.92779,10.93792,-0.07568,43.20130,-115.00698,-0.05859,39.67068,-0.66345
3,2001,48.24750,-1.89837,36.29772,2.58776,0.97170,-26.21683,5.05097,-10.34124,3.55005,...,34.57337,-171.70734,-16.96705,-46.67617,-12.51516,82.58061,-72.08993,9.90558,199.62971,18.85382
4,2001,50.97020,42.20998,67.09964,8.46791,-15.85279,-16.81409,-12.48207,-9.37636,12.63699,...,9.92661,-55.95724,64.92712,-17.72522,-1.49237,-7.50035,51.76631,7.88713,55.66926,28.74903
5,2001,50.54767,0.31568,92.35066,22.38696,-25.51870,-19.04928,20.67345,-5.19943,3.63566,...,6.59753,-50.69577,26.02574,18.94430,-0.33730,6.09352,35.18381,5.00283,-11.02257,0.02263

In [9]:
labels_column = df_song.iloc[0:,0]
labels = df_song.values[0:,0]
labels

array([2001., 2001., 2001., ..., 2006., 2007., 2007.])

In [10]:
df_song.__delitem__(1)

In [11]:
df_song['labels'] = labels_column

/Users/neil/Code/song_classifier/venv/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
num_columns = df_song.columns.shape[0]
columns = list(range(num_columns - 1))
columns_name = list(map(str,columns)) + ['labels']
df_song.columns = columns_name
df_song.head()

,0,1,2,3,4,5,6,7,8,9,...,81,82,83,84,85,86,87,88,89,labels
1,48.73215,18.42930,70.32679,12.94636,-10.32437,-24.83777,8.76630,-0.92019,18.76548,4.59210,...,-19.68073,33.04964,42.87836,-9.90378,-32.22788,70.49388,12.04941,58.43453,26.92061,2001
2,50.95714,31.85602,55.81851,13.41693,-6.57898,-18.54940,-3.27872,-2.35035,16.07017,1.39518,...,26.05866,-50.92779,10.93792,-0.07568,43.20130,-115.00698,-0.05859,39.67068,-0.66345,2001
3,48.24750,-1.89837,36.29772,2.58776,0.97170,-26.21683,5.05097,-10.34124,3.55005,-6.36304,...,-171.70734,-16.96705,-46.67617,-12.51516,82.58061,-72.08993,9.90558,199.62971,18.85382,2001
4,50.97020,42.20998,67.09964,8.46791,-15.85279,-16.81409,-12.48207,-9.37636,12.63699,0.93609,...,-55.95724,64.92712,-17.72522,-1.49237,-7.50035,51.76631,7.88713,55.66926,28.74903,2001
5,50.54767,0.31568,92.35066,22.38696,-25.51870,-19.04928,20.67345,-5.19943,3.63566,-4.69088,...,-50.69577,26.02574,18.94430,-0.33730,6.09352,35.18381,5.00283,-11.02257,0.02263,2001

# LET'S BALANCE THE DATASET

In [151]:
# value_count = song_app['labels'].value_counts()
df = df_song
# sort the dataframe
df.sort_values('labels', inplace=True)
# set the index to be this and don't drop
df.set_index(keys=['labels'], drop=False,inplace=True)
# get a list of names
labels=df['labels'].unique().tolist()
# now we can perform a lookup on a 'view' of the dataframe

df_list = []
for label in labels:
    label_df = df.loc[df['labels'] == label]
    df_list.append(label_df)

# joe = df.loc[df['labels'] == 2008]


# nb_instance_target = 5210
nb_instance_target = 15210

# print('before reseampling:')
# print df_list[88]
# print(len(df_list[88]))

new_df_list = []
for df in df_list:
    if len(df) > nb_instance_target:
        df_majority_downsampled = resample(df, 
                                 replace=False,    # sample without replacement
                                 n_samples=nb_instance_target,     # to match minority class
                                 random_state=123)
        new_df_list.append(df_majority_downsampled)
    elif len(df) < nb_instance_target:
        df_minority_upsampled = resample(df, 
                                 replace=True,     # sample with replacement
                                 n_samples= nb_instance_target,    # to match majority class
                                 random_state=123)
        new_df_list.append(df_minority_upsampled)

# print('After reseampling:')
# print(new_df_list[88])
# print(len(new_df_list[88]))   

df_resampled = pd.concat(new_df_list)
df_resampled = df_resampled.reset_index(drop=True)
print (song_app.shape)

print (df_resampled.shape)

/Users/neil/Code/song_classifier/venv/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

(463716, 92)
(1353690, 91)

# TEST WITH BALANCED

In [164]:
# x_data = df_resampled.sample(100000)
x_data = df_resampled

labels = x_data['labels']
x_data = x_data.iloc[:, 0:89]
# x_data.head()
labels

0          1922
1          1922
2          1922
3          1922
4          1922
5          1922
6          1922
7          1922
8          1922
9          1922
10         1922
11         1922
12         1922
13         1922
14         1922
15         1922
16         1922
17         1922
18         1922
19         1922
20         1922
21         1922
22         1922
23         1922
24         1922
25         1922
26         1922
27         1922
28         1922
29         1922
           ...
1353660    2011
1353661    2011
1353662    2011
1353663    2011
1353664    2011
1353665    2011
1353666    2011
1353667    2011
1353668    2011
1353669    2011
1353670    2011
1353671    2011
1353672    2011
1353673    2011
1353674    2011
1353675    2011
1353676    2011
1353677    2011
1353678    2011
1353679    2011
1353680    2011
1353681    2011
1353682    2011
1353683    2011
1353684    2011
1353685    2011
1353686    2011
1353687    2011
1353688    2011
1353689    2011
Name: labels, Length: 1353690, dtype: int64

In [165]:
# split into training and test data
X_train, X_test, y_train, y_test = train_test_split(x_data, labels, test_size=0.1, random_state=42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1218321, 89)
(135369, 89)
(1218321,)
(135369,)

In [130]:
from sklearn import preprocessing
X_train_scaled = preprocessing.scale(X_train)
# y_train_scaled = preprocessing.scale(y_train)

In [166]:
clf = RandomForestRegressor(n_jobs=5, n_estimators=50)
model = clf.fit(X_train, y_train)

On a tous mis a 15 000 et on en entrainer le model sur l integralite des 1 500 000 entree

In [167]:
y_predict_test = model.predict(X_test)

In [168]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import median_absolute_error

In [169]:
def log_errors(y_test, predicted):
    mae = mean_absolute_error(y_test, predicted)
    mse = mean_squared_error(y_test, predicted, multioutput='raw_values')
    r2 = r2_score(y_test, predicted)
    medae = median_absolute_error(y_test, predicted)
    print('mae ',mae)
    print('mse ',mse)
    print('r2 score ', r2)
    print('median_ae ',medae)

In [170]:
log_errors(y_test=y_test,predicted=y_predict_test)

('mae ', 1.2835293161654435)
('mse ', array([12.89624294]))
('r2 score ', 0.9804652187784696)
('median_ae ', 0.0)

In [171]:
list_test = np.around(y_test)

# list_predict = predict_y.astype('int')
list_predict = np.around(y_predict_test)

# print list_test[0]
# print list_predict[0]
print(classification_report(list_predict, list_test ))

             precision    recall  f1-score   support

     1922.0       1.00      1.00      1.00      1508
     1924.0       1.00      1.00      1.00      1487
     1925.0       1.00      1.00      1.00      1552
     1926.0       1.00      1.00      1.00      1451
     1927.0       1.00      1.00      1.00      1506
     1928.0       1.00      1.00      1.00      1521
     1929.0       1.00      1.00      1.00      1514
     1930.0       1.00      1.00      1.00      1488
     1931.0       1.00      1.00      1.00      1563
     1932.0       1.00      1.00      1.00      1513
     1933.0       1.00      1.00      1.00      1540
     1934.0       1.00      1.00      1.00      1558
     1935.0       1.00      1.00      1.00      1546
     1936.0       1.00      1.00      1.00      1489
     1937.0       1.00      1.00      1.00      1448
     1938.0       1.00      1.00      1.00      1485
     1939.0       1.00      1.00      1.00      1462
     1940.0       1.00      1.00      1.00      1490
     1941.0       1.00      1.00      1.00      1439
     1942.0       1.00      1.00      1.00      1495
     1943.0       1.00      1.00      1.00      1556
     1944.0       1.00      1.00      1.00      1594
     1945.0       1.00      1.00      1.00      1476
     1946.0       1.00      1.00      1.00      1537
     1947.0       1.00      1.00      1.00      1558
     1948.0       1.00      1.00      1.00      1476
     1949.0       1.00      1.00      1.00      1592
     1950.0       1.00      1.00      1.00      1511
     1951.0       1.00      1.00      1.00      1500
     1952.0       1.00      1.00      1.00      1538
     1953.0       1.00      1.00      1.00      1530
     1954.0       1.00      1.00      1.00      1469
     1955.0       1.00      1.00      1.00      1551
     1956.0       1.00      1.00      1.00      1483
     1957.0       1.00      1.00      1.00      1508
     1958.0       1.00      1.00      1.00      1561
     1959.0       1.00      1.00      1.00      1574
     1960.0       1.00      1.00      1.00      1556
     1961.0       1.00      1.00      1.00      1559
     1962.0       1.00      1.00      1.00      1491
     1963.0       1.00      1.00      1.00      1486
     1964.0       1.00      1.00      1.00      1516
     1965.0       1.00      1.00      1.00      1515
     1966.0       0.99      1.00      0.99      1535
     1967.0       0.97      0.99      0.98      1544
     1968.0       0.93      0.97      0.95      1532
     1969.0       0.87      0.92      0.90      1395
     1970.0       0.84      0.90      0.87      1480
     1971.0       0.90      0.88      0.89      1592
     1972.0       0.88      0.88      0.88      1491
     1973.0       0.82      0.88      0.85      1442
     1974.0       0.90      0.84      0.87      1575
     1975.0       0.86      0.88      0.87      1452
     1976.0       0.92      0.86      0.89      1617
     1977.0       0.87      0.87      0.87      1538
     1978.0       0.82      0.86      0.84      1406
     1979.0       0.76      0.80      0.78      1462
     1980.0       0.80      0.77      0.78      1562
     1981.0       0.80      0.75      0.77      1593
     1982.0       0.72      0.70      0.71      1523
     1983.0       0.77      0.67      0.72      1731
     1984.0       0.78      0.67      0.72      1818
     1985.0       0.75      0.63      0.68      1844
     1986.0       0.70      0.55      0.61      1902
     1987.0       0.64      0.49      0.56      2047
     1988.0       0.58      0.44      0.50      2056
     1989.0       0.53      0.39      0.45      2059
     1990.0       0.50      0.33      0.40      2227
     1991.0       0.38      0.28      0.32      2077
     1992.0       0.40      0.26      0.32      2310
     1993.0       0.34      0.24      0.28      2156
     1994.0       0.28      0.19      0.22      2264
     1995.0       0.29      0.19      0.23      2234
     1996.0       0.27      0.19      0.22      2235
     1997.0       0.24      0.18      0.21      2029
     1998.0       0.24      0.18      0.21      1977
     1999.0       0.07      0.06      0.07      1645
     2000.0       0.08      0.08      0.08      1571
     2001.0       0.08      0.08      0.08      1435
     2002.0       0.08      0.08      0.08      1413
     2003.0       0.07      0.09      0.08      1198
     2004.0       0.05      0.08      0.06       915
     2005.0       0.03      0.08      0.04       471
     2006.0       0.01      0.05      0.02       273
     2007.0       0.00      0.03      0.01       180
     2008.0       0.00      0.00      0.00       234
     2009.0       0.00      0.00      0.00       289
     2010.0       0.18      1.00      0.30       263
     2011.0       1.00      1.00      1.00      1585

avg / total       0.78      0.75      0.76    135369

In [149]:
# x_data = df_resampled.reset_index(drop=True)
x_data = df_song

# x_pif = df_resampled.sample(500)
x_pif = x_data

y_pif = x_pif['labels']

x_pif = x_pif.iloc[:, 0:89]



y_predict_pif = model.predict(x_pif)

log_errors(y_test=y_pif,predicted=y_predict_pif)

('mae ', 7.17625131815878)
('mse ', array([94.27049857]))
('r2 score ', 0.21230140108970763)
('median_ae ', 5.2999999999999545)

In [150]:
list_test = np.around(y_pif)

# list_predict = predict_y.astype('int')
list_predict = np.around(y_predict_pif)

# print list_test[0]
# print list_predict[0]
print(classification_report(list_predict, list_test ))

             precision    recall  f1-score   support

     1922.0       1.00      1.00      1.00         6
     1924.0       1.00      1.00      1.00         5
     1925.0       1.00      1.00      1.00         7
     1926.0       1.00      1.00      1.00        19
     1927.0       1.00      1.00      1.00        40
     1928.0       1.00      1.00      1.00        48
     1929.0       1.00      0.99      0.99        80
     1930.0       1.00      1.00      1.00        38
     1931.0       1.00      0.97      0.98        32
     1932.0       1.00      0.92      0.96        12
     1933.0       1.00      0.86      0.92         7
     1934.0       1.00      1.00      1.00        28
     1935.0       1.00      1.00      1.00        24
     1936.0       1.00      0.92      0.96        24
     1937.0       1.00      0.93      0.96        27
     1938.0       1.00      0.95      0.97        20
     1939.0       1.00      1.00      1.00        35
     1940.0       1.00      0.88      0.93        16
     1941.0       1.00      0.94      0.97        33
     1942.0       1.00      0.95      0.98        22
     1943.0       1.00      1.00      1.00        13
     1944.0       1.00      0.78      0.88        18
     1945.0       1.00      0.90      0.95        30
     1946.0       1.00      0.91      0.95        32
     1947.0       1.00      0.96      0.98        57
     1948.0       1.00      0.90      0.95        42
     1949.0       1.00      0.98      0.99        54
     1950.0       1.00      0.91      0.95        64
     1951.0       1.00      0.94      0.97        66
     1952.0       1.00      0.87      0.93        75
     1953.0       1.00      0.91      0.95       133
     1954.0       1.00      0.93      0.96       116
     1955.0       1.00      0.98      0.99       258
     1956.0       0.94      0.98      0.96       515
     1957.0       0.94      0.93      0.94       563
     1958.0       0.97      0.90      0.94       560
     1959.0       0.95      0.92      0.94       563
     1960.0       0.98      0.90      0.94       433
     1961.0       0.96      0.95      0.95       530
     1962.0       0.94      0.91      0.92       603
     1963.0       0.76      0.90      0.82       731
     1964.0       0.77      0.79      0.78       828
     1965.0       0.68      0.77      0.72       880
     1966.0       0.57      0.69      0.62       988
     1967.0       0.41      0.59      0.49      1061
     1968.0       0.37      0.51      0.43      1181
     1969.0       0.29      0.43      0.34      1343
     1970.0       0.27      0.37      0.31      1540
     1971.0       0.34      0.36      0.35      1788
     1972.0       0.31      0.33      0.32      1919
     1973.0       0.27      0.30      0.28      2069
     1974.0       0.35      0.28      0.31      2495
     1975.0       0.31      0.25      0.28      2803
     1976.0       0.39      0.23      0.29      3235
     1977.0       0.33      0.21      0.26      3517
     1978.0       0.31      0.19      0.24      4193
     1979.0       0.28      0.17      0.21      4818
     1980.0       0.31      0.15      0.20      5867
     1981.0       0.30      0.13      0.18      6450
     1982.0       0.29      0.12      0.17      7678
     1983.0       0.30      0.11      0.16      8585
     1984.0       0.33      0.10      0.15     10210
     1985.0       0.33      0.09      0.14     11399
     1986.0       0.30      0.08      0.13     13501
     1987.0       0.25      0.08      0.12     14469
     1988.0       0.24      0.07      0.11     16783
     1989.0       0.18      0.06      0.09     17025
     1990.0       0.16      0.06      0.08     18957
     1991.0       0.13      0.05      0.07     19163
     1992.0       0.12      0.05      0.07     20681
     1993.0       0.11      0.05      0.07     20245
     1994.0       0.10      0.05      0.07     21456
     1995.0       0.09      0.05      0.06     21245
     1996.0       0.09      0.05      0.06     22323
     1997.0       0.08      0.05      0.06     21401
     1998.0       0.08      0.05      0.06     22944
     1999.0       0.08      0.06      0.07     21615
     2000.0       0.07      0.06      0.07     22203
     2001.0       0.07      0.06      0.07     19702
     2002.0       0.06      0.07      0.06     18450
     2003.0       0.05      0.08      0.06     14690
     2004.0       0.03      0.08      0.05     11558
     2005.0       0.02      0.08      0.03      7195
     2006.0       0.01      0.08      0.02      4344
     2007.0       0.00      0.05      0.01      2002
     2008.0       0.00      0.04      0.00       788
     2009.0       0.00      0.03      0.00       144
     2010.0       0.00      1.00      0.00         4
     2011.0       1.00      1.00      1.00         1

avg / total       0.16      0.10      0.11    463715

# TEST WITH UNBALANCED

In [9]:
x_data = df_song
x_data.__delitem__('labels')

In [62]:
x_data.head()

,0,1,2,3,4,5,6,7,8,9,...,80,81,82,83,84,85,86,87,88,89
1,48.73215,18.42930,70.32679,12.94636,-10.32437,-24.83777,8.76630,-0.92019,18.76548,4.59210,...,5.66812,-19.68073,33.04964,42.87836,-9.90378,-32.22788,70.49388,12.04941,58.43453,26.92061
2,50.95714,31.85602,55.81851,13.41693,-6.57898,-18.54940,-3.27872,-2.35035,16.07017,1.39518,...,3.03800,26.05866,-50.92779,10.93792,-0.07568,43.20130,-115.00698,-0.05859,39.67068,-0.66345
3,48.24750,-1.89837,36.29772,2.58776,0.97170,-26.21683,5.05097,-10.34124,3.55005,-6.36304,...,34.57337,-171.70734,-16.96705,-46.67617,-12.51516,82.58061,-72.08993,9.90558,199.62971,18.85382
4,50.97020,42.20998,67.09964,8.46791,-15.85279,-16.81409,-12.48207,-9.37636,12.63699,0.93609,...,9.92661,-55.95724,64.92712,-17.72522,-1.49237,-7.50035,51.76631,7.88713,55.66926,28.74903
5,50.54767,0.31568,92.35066,22.38696,-25.51870,-19.04928,20.67345,-5.19943,3.63566,-4.69088,...,6.59753,-50.69577,26.02574,18.94430,-0.33730,6.09352,35.18381,5.00283,-11.02257,0.02263

In [10]:
# split into training and test data
X_train, X_test, y_train, y_test = train_test_split(x_data, labels, test_size=0.1, random_state=42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(417343, 90)
(46372, 90)
(417343,)
(46372,)

In [75]:
from sklearn import preprocessing
X_train_scaled = preprocessing.scale(X_train)
y_train_scaled = preprocessing.scale(y_train)

In [12]:
clf = RandomForestRegressor(n_jobs=5, n_estimators=50)
model = clf.fit(X_train_scaled, y_train_scaled)

In [17]:
X_test_scaled = preprocessing.scale(X_test)
y_test_scaled = preprocessing.scale(y_test)
predicted = model.predict(X_test_scaled)

In [14]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import median_absolute_error

In [15]:
def log_errors(y_test, predicted):
    mae = mean_absolute_error(y_test, predicted)
    mse = mean_squared_error(y_test, predicted, multioutput='raw_values')
    r2 = r2_score(y_test, predicted)
    medae = median_absolute_error(y_test, predicted)
    print('mae ',mae)
    print('mse ',mse)
    print('r2 score ', r2)
    print('median_ae ',medae)

In [19]:
log_errors(y_test=y_test_scaled,predicted=predicted)

mae  0.593008904188
mse  [ 0.69729548]
r2 score  0.30270452098
median_ae  0.419795584823

# On fait tourner le model sur SongTest avec le model train a 1 500 000

In [172]:
song_test = pd.read_csv("../datasets/SongTst.csv",header=-1,)

In [176]:
song_test.shape
song_test.head()

,0,1,2,3,4,5,6,7,8,9,...,81,82,83,84,85,86,87,88,89,90
0,NaN,49.94357,21.47114,73.07750,8.74861,-17.40628,-13.09905,-25.01202,-12.23257,7.83089,...,13.01620,-54.40548,58.99367,15.37344,1.11144,-23.08793,68.40795,-1.82223,-27.46348,2.26327
1,463715.0,52.67814,-2.88914,43.95268,-1.39209,-14.93379,-15.86877,1.19379,0.31401,-4.44235,...,-5.74356,-42.57910,-2.91103,48.72805,-3.08183,-9.38888,-7.27179,-4.00966,-68.96211,-5.21525
2,463716.0,45.74235,12.02291,11.03009,-11.60763,11.80054,-11.12389,-5.39058,-1.11981,-7.74086,...,-4.70606,-24.22599,-35.22686,27.77729,15.38934,58.20036,-61.12698,-10.92522,26.75348,-5.78743
3,463717.0,52.55883,2.87222,27.38848,-5.76235,-15.35766,-15.01592,-5.86893,-0.31447,-5.06922,...,-8.35215,-16.86791,-10.58277,40.10173,-0.54005,-11.54746,-45.35860,-4.55694,-43.17368,-3.33725
4,463718.0,51.34809,9.02702,25.33757,-6.62537,0.03367,-12.69565,-3.13400,2.98649,-6.71750,...,-6.87366,-20.03371,-66.38940,50.56569,0.27747,67.05657,-55.58846,-7.50859,28.23511,-0.72045

In [179]:
song_test = song_test.iloc[:, 1:]
song_test.head()
x_test = song_test
y_test_predict = model.predict(x_test)

In [187]:
y_test_predict = np.round(y_test_predict)
new = list(map(lambda x: int(x),y_test_predict))
new

[1992,
 1984,
 1978,
 1977,
 1985,
 1983,
 1976,
 1983,
 1992,
 1984,
 1990,
 1972,
 1985,
 1986,
 1988,
 1991,
 1993,
 1990,
 1985,
 1986,
 1990,
 1993,
 1988,
 1993,
 1986,
 1989,
 1988,
 1983,
 1991,
 1992,
 1986,
 1993,
 1992,
 1972,
 1992,
 1993,
 1990,
 1988,
 1969,
 1996,
 1985,
 1984,
 1985,
 1980,
 1982,
 1987,
 1986,
 1990,
 1985,
 1986,
 1981,
 1988,
 1990,
 1984,
 1986,
 1984,
 1987,
 1985,
 1984,
 1987,
 1986,
 1984,
 1989,
 1988,
 1987,
 1988,
 1988,
 1986,
 1986,
 1991,
 1966,
 1999,
 1990,
 1991,
 1992,
 1987,
 1986,
 1994,
 1969,
 1990,
 1990,
 1983,
 1991,
 1987,
 1986,
 1986,
 1991,
 1994,
 1990,
 1989,
 1991,
 1978,
 1973,
 1990,
 1990,
 1994,
 1992,
 1989,
 1987,
 1984,
 1988,
 1984,
 1982,
 1982,
 1989,
 1983,
 1991,
 1990,
 1986,
 1983,
 1986,
 1987,
 1993,
 1982,
 1992,
 1993,
 1982,
 1984,
 1986,
 1981,
 1994,
 1983,
 1987,
 1983,
 1989,
 1988,
 1986,
 1993,
 1990,
 1988,
 1991,
 1990,
 1992,
 1982,
 1988,
 1984,
 1984,
 1989,
 1988,
 1992,
 1991,
 1983,
 1983,
 1981,
 1985,
 1987,
 1983,
 1990,
 1988,
 1985,
 1989,
 1987,
 1994,
 1986,
 1985,
 1983,
 1993,
 1984,
 1994,
 1983,
 1986,
 1992,
 1986,
 1985,
 1994,
 1993,
 1990,
 1986,
 1987,
 1992,
 1990,
 1991,
 1994,
 1991,
 1992,
 2000,
 1987,
 1992,
 2001,
 2001,
 1997,
 1990,
 2000,
 1998,
 1994,
 1995,
 1990,
 1995,
 1991,
 1990,
 1990,
 1994,
 1990,
 1993,
 1999,
 2002,
 1999,
 1992,
 1995,
 1995,
 1986,
 1981,
 1981,
 1980,
 1990,
 1984,
 1993,
 1989,
 1991,
 1990,
 1995,
 1987,
 1991,
 1991,
 1991,
 1995,
 1993,
 1995,
 1992,
 1996,
 1994,
 1984,
 1993,
 1995,
 1994,
 1994,
 1992,
 1993,
 1991,
 1994,
 1992,
 1992,
 2001,
 1991,
 1997,
 1997,
 1998,
 1997,
 1997,
 1995,
 1996,
 2000,
 1992,
 1984,
 1992,
 1990,
 1990,
 1994,
 1992,
 1991,
 1999,
 1993,
 1994,
 1990,
 1991,
 1987,
 1988,
 1975,
 1991,
 1993,
 2000,
 1989,
 1988,
 1992,
 1981,
 2000,
 1987,
 1984,
 1993,
 2001,
 1989,
 1996,
 1999,
 1982,
 1990,
 1987,
 2001,
 1992,
 2002,
 1995,
 1991,
 1990,
 1983,
 1987,
 1993,
 1999,
 1985,
 1988,
 1987,
 1998,
 1982,
 1995,
 1990,
 1991,
 1991,
 1995,
 1984,
 1990,
 1991,
 1987,
 1990,
 1991,
 1995,
 1994,
 1994,
 1991,
 2002,
 2002,
 1995,
 1992,
 1987,
 1993,
 1997,
 1988,
 1993,
 1987,
 1991,
 1991,
 1990,
 1977,
 1992,
 2001,
 1992,
 1985,
 1993,
 1995,
 2003,
 1993,
 1976,
 1995,
 1997,
 1975,
 1999,
 1991,
 2000,
 1990,
 1971,
 1993,
 1993,
 1995,
 2001,
 1987,
 2001,
 1997,
 1991,
 1983,
 1991,
 1987,
 1993,
 1984,
 1990,
 1988,
 1986,
 1988,
 1990,
 1986,
 1992,
 1971,
 1991,
 1966,
 1990,
 1991,
 1989,
 1988,
 1985,
 1990,
 1970,
 1986,
 1990,
 1985,
 1995,
 1991,
 1981,
 1992,
 1993,
 1986,
 1989,
 1990,
 1973,
 1990,
 1989,
 1971,
 1992,
 1994,
 2001,
 1993,
 1993,
 1984,
 1984,
 1983,
 1988,
 2001,
 1989,
 1993,
 1985,
 1986,
 1988,
 1985,
 1995,
 1991,
 1990,
 1986,
 1992,
 1994,
 1985,
 1995,
 1976,
 1986,
 1987,
 1983,
 1989,
 1988,
 1995,
 1993,
 1992,
 1987,
 1991,
 1979,
 1987,
 1992,
 1991,
 1996,
 1981,
 2001,
 1992,
 1994,
 1981,
 1996,
 1989,
 1974,
 1993,
 1983,
 1984,
 1982,
 1983,
 1991,
 1987,
 1990,
 1991,
 1981,
 1987,
 1985,
 1985,
 1980,
 1987,
 1987,
 1984,
 1987,
 1989,
 1993,
 1971,
 1994,
 1988,
 1984,
 1973,
 1972,
 1991,
 1992,
 1975,
 1995,
 1995,
 1988,
 1991,
 1975,
 1997,
 1986,
 1988,
 1993,
 1988,
 1993,
 1994,
 1999,
 1986,
 1984,
 1987,
 1991,
 1991,
 1987,
 1984,
 1989,
 1989,
 1992,
 1990,
 1989,
 1992,
 1985,
 1987,
 1989,
 1985,
 1995,
 1996,
 1983,
 1995,
 1988,
 1990,
 1994,
 1991,
 1988,
 1993,
 1982,
 1977,
 1993,
 1997,
 1985,
 1996,
 1990,
 1986,
 1983,
 1994,
 1985,
 1990,
 1985,
 1986,
 1985,
 1985,
 1984,
 1995,
 1986,
 1993,
 1988,
 1988,
 1984,
 1994,
 1996,
 1994,
 1988,
 1987,
 1990,
 1987,
 1991,
 1993,
 1993,
 1987,
 1995,
 1986,
 1975,
 1991,
 1987,
 1989,
 1988,
 1997,
 1984,
 1988,
 1982,
 1988,
 1985,
 1998,
 1994,
 1990,
 1998,
 1996,
 1982,
 1985,
 1989,
 1989,
 1983,
 1990,
 1987,
 1994,
 1991,
 1985,
 1990,
 1982,
 1984,
 1994,
 1991,
 1996,
 1995,
 1989,
 1990,
 1990,
 1988,
 1991,
 1982,
 1985,
 1989,
 1970,
 1982,
 1996,
 1982,
 1991,
 1989,
 1992,
 1971,
 1997,
 1981,
 1985,
 1988,
 1986,
 1991,
 1990,
 1991,
 1986,
 1986,
 1985,
 2003,
 1981,
 1994,
 1991,
 1987,
 1993,
 1996,
 1990,
 1993,
 1987,
 1992,
 1988,
 1991,
 1986,
 1992,
 1998,
 1997,
 1998,
 1986,
 1995,
 1989,
 1992,
 1985,
 1996,
 1994,
 1992,
 1986,
 1994,
 1999,
 1990,
 1987,
 1986,
 1986,
 1992,
 1994,
 1986,
 1994,
 1997,
 1996,
 1993,
 1990,
 1992,
 1995,
 1991,
 1989,
 1985,
 1989,
 1982,
 1992,
 1989,
 1994,
 1993,
 1989,
 1996,
 1987,
 1992,
 1984,
 1986,
 1983,
 1985,
 1986,
 1986,
 1984,
 1988,
 1981,
 1987,
 1994,
 1996,
 1983,
 1984,
 1987,
 1991,
 1992,
 1990,
 1996,
 1991,
 1987,
 1990,
 1985,
 1983,
 1999,
 1995,
 1983,
 1991,
 1986,
 1972,
 1969,
 1990,
 1988,
 1987,
 1985,
 1993,
 1994,
 1991,
 1995,
 1991,
 1974,
 1985,
 1990,
 1987,
 1978,
 1981,
 1988,
 1991,
 1989,
 1990,
 1995,
 1983,
 1989,
 1992,
 1984,
 1994,
 1993,
 1982,
 1986,
 1972,
 1985,
 1992,
 1983,
 1985,
 1988,
 1986,
 1985,
 1990,
 1988,
 1987,
 1987,
 1990,
 1986,
 1987,
 1988,
 1985,
 1991,
 1986,
 1984,
 1993,
 1987,
 1986,
 1988,
 1986,
 1989,
 1987,
 1992,
 1993,
 1995,
 1994,
 1999,
 1992,
 2000,
 1995,
 1991,
 1987,
 1994,
 1999,
 2001,
 1998,
 1993,
 1997,
 1991,
 1995,
 1999,
 2000,
 1994,
 1988,
 1992,
 1985,
 1996,
 2001,
 1994,
 1992,
 1994,
 1972,
 1993,
 1997,
 1986,
 2001,
 2000,
 2000,
 1992,
 1996,
 1992,
 1969,
 1993,
 1996,
 1986,
 1991,
 2001,
 1990,
 1995,
 1989,
 2002,
 1994,
 1997,
 1988,
 2000,
 1986,
 2002,
 1998,
 1984,
 1994,
 1987,
 2000,
 1995,
 1989,
 2000,
 2000,
 1992,
 1988,
 1970,
 1997,
 1990,
 1982,
 1992,
 1988,
 1988,
 1994,
 2000,
 1984,
 1973,
 1984,
 1997,
 1982,
 1986,
 1988,
 1986,
 1994,
 1992,
 1981,
 1987,
 1994,
 1989,
 1997,
 1997,
 1988,
 1983,
 1984,
 1984,
 1992,
 1989,
 1972,
 1987,
 1986,
 1992,
 1990,
 1972,
 1987,
 1972,
 1989,
 1993,
 1987,
 1989,
 1988,
 1993,
 1983,
 1993,
 1981,
 1996,
 1990,
 1988,
 1984,
 1987,
 1990,
 1988,
 1982,
 1988,
 1986,
 1985,
 1986,
 1984,
 1992,
 1986,
 1990,
 1988,
 1996,
 1987,
 1993,
 1990,
 1983,
 1988,
 1989,
 1981,
 1992,
 1987,
 1988,
 1992,
 1999,
 1989,
 1985,
 1986,
 1987,
 1989,
 1989,
 1985,
 1987,
 1985,
 1996,
 1987,
 1986,
 1980,
 1987,
 1993,
 1985,
 1995,
 1989,
 1979,
 1987,
 1986,
 1991,
 1994,
 1988,
 1993,
 1992,
 1987,
 1988,
 1985,
 1990,
 1985,
 1985,
 1994,
 1995,
 1991,
 1995,
 1990,
 1989,
 1984,
 1988,
 1985,
 1995,
 1999,
 1997,
 1986,
 1991,
 1992,
 1982,
 1989,
 1985,
 2000,
 1999,
 1995,
 1992,
 1990,
 1990,
 1995,
 1989,
 1998,
 1986,
 1990,
 1994,
 1987,
 1983,
 1993,
 1999,
 1992,
 1998,
 1991,
 1992,
 1994,
 1993,
 1990,
 1985,
 1988,
 1988,
 1978,
 1995,
 1994,
 1994,
 1992,
 1988,
 1996,
 1978,
 1996,
 1983,
 1972,
 1994,
 1997,
 1998,
 1976,
 1973,
 1986,
 1968,
 1997,
 1991,
 1992,
 1999,
 1995,
 1993,
 1994,
 1992,
 1991,
 1998,
 1995,
 2000,
 1998,
 1986,
 1997,
 1999,
 2001,
 1996,
 2001,
 2000,
 1989,
 1993,
 1992,
 1992,
 1990,
 ...]

In [189]:
type(new)

list

In [191]:
np.savetxt("test_result2.txt", new, delimiter="\n")

In [194]:
tryRead = pd.read_csv("test_result2.txt",header=-1,)
tryRead.head()

        0
0  1992.0
1  1984.0
2  1978.0
3  1977.0
4  1985.0